<h2 id="contributors">協力者一覧</h2>
<ul style="margin-left:30px; list-style-type: none; line-height: 10px;">
  <br />
  <li>
    <p>翻訳：<em>
	<a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, 
	<a href="http://twitter.com/yasulab">@yasulab</a></em>, 
      および, <em><a href="http://railstutorial.jp/#contributors">第２版の協力者の方々</a>
      </em></p>
  </li>
  <li>
    <p>監訳：<em>
	<a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, 
	<a href="http://twitter.com/yasulab">@yasulab</a>
      </em></p>
  </li>
  <li>
    <p>レビュー：<em>
	<a href="http://twitter.com/tacahiroy">@tacahiroy</a>, 
	<a href="http://twitter.com/Amothic">@Amothic</a>, 
	<a href="http://twitter.com/_simanman">@_simanman</a>
      </em></p>
  </li>
  <li>
    <p>リソース管理：<em><a href="http://twitter.com/yasulab">@yasulab</a></em></p>
  </li>
  <li>
    <p>サイト構築/管理：<em><a href="http://twitter.com/yasulab">@yasulab</a></em></p>
  </li>
</ul>
