<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Ruby on Rails チュートリアル (第２版)</title>
  <link rel="stylesheet" type="text/css" href="pygments.css" />
  <link rel="stylesheet" type="text/css" href="polytexnic.css" />
</head>
<body>
  <h1>Ruby on Rails チュートリアル (第２版)</h1>
  <p><b>原著:</b> <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial 2nd Edition</a></p>
  <p><b>Facebook グループ:</b> <a href="https://www.facebook.com/groups/japanese.railstutorial.org/">Ruby on Rails Tutorial 翻訳グループ</a></p>
  <p><b>GitHub リポジトリ:</b> <a href="https://github.com/yasulab/rails_tutorial_translation_2nd_ed">yasulab/rails_tutorial_translation_2nd_ed</a></p>
  <p><b>現状:</b></br>
    現在は，1, 2, 4, 7, 9, 10, 11章の草案が終わった状態です．</br>
    その他の章も，未訳が一部ありますが，半分以上終わっています．</br>
    ラフな翻訳およびレビューができあがり次第，随時更新していきます．</br>
    また，各章のPDF版(未訳含む)も随時更新していきます．</p>
  <p><b>お願い:</b></br>
    もし誤字／脱字，誤訳などを発見しましたら，<a href="http://twitter.com/yasulab">@yasulab</a> までご連絡して頂けると嬉しいです．</p>
  <img src="images/ruby-on-rails-3-tutorial.png" width="360" height="467" style="float:left;"/>
  <ul style="margin-left:360px; list-style-type: none;">
    <li><p><a href="beginning.html#top">第1章 ゼロから本番展開まで</a></p></li>
    <li><p><a href="a-demo-app.html#top">第2章 デモアプリケーション</a></p></li>
    <li><p><a href="static-pages.html#top">第3章 ほぼ静的なページの作成 (未訳あり)</a></p></li>
    <li><p><a href="rails-flavored-ruby.html#top">第4章 Rails風味のRuby</a></p></li>
    <li><p><a href="filling-in-the-layout.html#top">第5章 レイアウトを作成する (未訳あり)</a></p></li>
    <li><p><a href="modeling-users.html#top">第6章 ユーザーのモデルを作成する (未訳あり)</a></p></li>
    <li><p><a href="sign-up.html#top">第7章 ユーザー登録</a></p></li>
    <li><p><a href="sign-in-sign-out.html#top">第8章 サインイン、サインアウト (未訳あり)</a></p></li>
    <li><p><a href="updating-showing-and-deleting-users.html#top">第9章 ユーザーの更新・表示・削除</a></p></li>    
    <li><p><a href="user-microposts.html#top">第10章 ユーザーのマイクロポスト</a></p></li>
    <li><p><a href="following-users.html#top">第11章 ユーザーをフォローする</a></p></li>
    <li>
      <p>
	PDF:
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/beginning.html.pdf">1章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/a-demo-app.html.pdf">2章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/static-pages.html.pdf">3章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/rails-flavored-ruby.html.pdf">4章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/filling-in-the-layout.html.pdf">5章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/modeling-users.html.pdf">6章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/sign-up.html.pdf">7章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/sign-in-sign-out.html.pdf">8章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/updating-showing-and-deleting-users.html.pdf">9章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/user-microposts.html.pdf">10章</a>
	<a href="https://dl.dropboxusercontent.com/u/2819285/railstutorial.jp/following-users.html.pdf">11章</a>
      </p>
    </li>

    <!--<li><p><a href="tau-manifesto.html">Tau Manifesto</a></p></li>-->
    
  </ul>
  <h2>ライセンス</h2>
  <p>
    <em>Ruby on Rails Tutorial, 2nd Edition</em>
    . Copyright © 2012 by Michael Hartl.
  </p>
  <p>
    The HTML source of the Ruby on Rails Tutorial book is available <br />
    under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>, <br />
    which allows translation of the book as long as <br />
    you give attribution to the original author (<a href="http://michaelhartl.com/">Michael Hartl</a>) <br />
    and distribute the translation under the same license.
  </p>
</body>
</html>
