<div class="navigation">
  <a class="next_page" href="/chapters/beginning?version=4.0#top"></a>
  <a class="next_page" href="/chapters/beginning?version=4.0#top"><span class="number">第1章</span>ゼロからデプロイまで»</a>
  <a class="next_page" href="/chapters/beginning?version=4.0#top"></a>
</div>
