

































body{text-align:center}* html body legend{margin:0px -8px 16px 0;padding:0}html>body p code{*white-space:normal}#container{text-align:left}ol{margin-left:2em}sup{vertical-align:text-top}sub{vertical-align:text-bottom}hr{margin:-8px auto 11px}fieldset{padding-top:0}#book_wrap #book{font-size:120%}#book_wrap #book pre{font-size:100%}#book_wrap #book tt{font-size:100%}#book_wrap #book .highlight pre{font-size:100%}
