<div id="header" class="clearfix">
  <div id='title'>
    <div id='logo'><a href="http://railstutorial.jp/"><img alt="Logo" src="/images/layout/logo.png?1304201481" /></a></div>
    <h1 id='name'>
      <a href="http://railstutorial.jp/">Ruby on Rails チュートリアル</a>
    </h1>
    <br />
    <h2 id='authors'>
      <a href="http://railstutorial.jp/">by Michael Hartl (マイケル・ハートル)</a>
    </h2>
  </div>
</div>
<div id="menu">
  <div class='links'>
    <div class='box'>
      <span>
	<a href="/">ホーム</a>
      </span>
      <span class='division'>|</span>
      <span>
	<a href="https://www.facebook.com/groups/japanese.railstutorial.org/">翻訳グループ</a>
      </span>
      <span>
	<a href="https://www.facebook.com/groups/japanese.railstutorial.org/"><img alt="Facebook グループ" src="/images/icons/facebook-icon24x24.png?1304201481" /></a>
      </span>
      <span class='division'>|</span>
      <span>
	<a href="http://ruby.railstutorial.org/">原著</a>
      </span>
      <span class='division'>
	|
      </span>
      <span style="padding-top:6px">
	<a href="http://b.hatena.ne.jp/entry/railstutorial.jp" class="hatena-bookmark-button"
	   data-hatena-bookmark-title="Rails チュートリアル" data-hatena-bookmark-layout="standard-balloon"
	   data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
	  <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png"
	       alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
	</a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </span>
    </div>
  </div>
</div>
