<div id="book_wrap">
  <div id="book_top">
  </div>
    <div id="book">
      <% if third_edition? @version %>
        <%= render 'shared/4.0/contents' %>
      <% else %>
	<%= render 'shared/3.2/contents' %>
      <% end %>
      <%= raw @content %>
    </div>
  <div id="book_bottom">
  </div>
</div>
