<div id="book_wrap">
  <div id="book_top"></div>
  <div id="book">
    <%= render "shared/title" %>
    <%= render "shared/#{@version}/contents" %>
    <%= render "shared/#{@version}/preface" %>
    <%= raw @content %>
  </div>
  <div id="book_bottom"></div>
</div>
