<h2 id="contributors">協力者一覧</h2>
<ul style="margin-left:30px; list-style-type: none; line-height: 10px;">
  <br />
  <li>
    <p>第1章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, <a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>第2章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, <a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>第3章：<em><a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a>, <a href="https://github.com/SpringMT">Makoto Haruyama</a> (<a href="https://twitter.com/Spring_MT">@Spring_MT</a>)</em></p>
  </li>
  <li>
    <p>第4章：<em>Fumiaki Matsushima</em></p>
  </li>
  <li>
    <p>第5章：<em>Takahiro Yoshihara, Kase Hiroki, <a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>第6章：<em>Hiroyuki Hayashi, <a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a></em></p>
  </li>
  <li>
    <p>第7章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a></em></p>
  </li>
  <li>
    <p>第8章：<em>Minori Tokuda, Sakiyo Yamaoka, <a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a></em></p>
  </li>
  <li>
    <p>第9章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a></em></p>
  </li>
  <li>
    <p>第10章：<em><a href="https://github.com/sonots">Naotoshi Seo</a> (<a href="https://twitter.com/sonots">@sonots</a>)</em></p>
  </li>
  <li>
    <p>第11章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a></em></p>
  </li>
  <li>
    <p>第12章：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, <a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>スペシャルサンクス：<em><a href="https://github.com/yamaguchih">Haruki Yamaguchi</a></em></p>
  </li>
  <li>
    <p>監訳：<em><a href="http://jp.linkedin.com/pub/shozo-hatta/11/349/930">Shozo Hatta</a>, <a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>リソース管理：<em><a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
  <li>
    <p>サイト構築/管理：<em><a href="http://twitter.com/yasulab">Yohei Yasukawa (@yasulab)</a></em></p>
  </li>
</ul>
