<h2>ライセンス</h2>
<p>
  <em>Ruby on Rails Tutorial, 2nd Edition</em>
  . Copyright © 2012 by Michael Hartl.
</p>
<p>
  The HTML source of the Ruby on Rails Tutorial book is available <br />
  under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>, <br />
  which allows translation of the book as long as <br />
  you give attribution to the original author (<a href="http://michaelhartl.com/">Michael Hartl</a>) <br />
  and distribute the translation under the same license.
</p>
