<div class="navigation">
  <a class="next_page" href="/chapters/beginning#top"></a>
  <a class="next_page" href="/chapters/beginning#top"><span class="number">第1章</span>ゼロからデプロイまで»</a>
  <a class="next_page" href="/chapters/beginning#top"></a>
</div>
