
<div id="main_content"></div>


<p> <span class="preamble">
</span><span class="preamble"> <span id="foreword">
</span></span><span class="preamble"><span id="foreword"><strong>前書き</strong> </span></span><br /><span class="preamble"><span id="foreword">
</span></span><span class="preamble"><span id="foreword"> </span>
</span><span class="preamble"> </span></p>

<p>私が前にいた会社 (CD Baby) は、かなり早い段階で Ruby on Rails に一度乗り換えたのですが、残念ながらまた PHP に戻ってしまいました (詳細は私の名前を Google で検索してみてください)。そんな私ですが、Michael Hartl 氏の本を強く勧められたので、その本を使ってもう一度試してみた結果、今度は無事に Rails に乗り換えることができました。それがこの <em>Ruby on Rails チュートリアル</em>という本です。</p>

<p>私は多くの Rails 関連の本を参考にしてきましたが、真の決定版と呼べるものは本書をおいて他にありません。本書では、あらゆる手順が Rails 流で行われています。最初のうちは慣れるまでに時間がかかりましたが、この本を終えた今、ついにこれこそが自然な方式だと感じられるまでになりました。また、本書は Rails 関連の本の中で唯一、多くのプロが推奨するテスト駆動開発 (TDD: Test Driven Development) を、全編を通して実践しています。実例を使ってここまで分かりやすく解説された本は、本書が初めてでしょう。極めつけは、Git や GitHub、Heroku の実例に含めている点です。このような、実際の開発現場で使わているツールもチュートリアルに含まれているため、読者は、まるで実際のプロジェクトの開発プロセスを体験しているかのような感覚が得られるはずです。それでいて、それぞれの実例が独立したセクションになっているのではなく、そのどれもがチュートリアルの内容と見事に一体化しています。</p>

<p>本書は、筋道だった一本道の物語のようになっています。私自身、章の終わりにある練習問題もやりながら、この <em>Rails チュートリアル</em>を3日間かけて一気に読破しました。最初から最後まで、途中を飛ばさずに読んでください。それが、最も有益な本書の読み方です。</p>

<p>それでは、楽しんでお読み下さい！</p>

<p><a href="http://www.google.com/url?q=http%3A%2F%2Fsivers.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG2L4H2AbPoz5hEY_zT4c7DXLpkiQ">デレックシバーズ (Derek Sivers)</a> (<a href="http://www.google.com/url?q=http%3A%2F%2Fsivers.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG2L4H2AbPoz5hEY_zT4c7DXLpkiQ">sivers.org</a>)<br />
<em>CD Baby 創始者</em> <br /></p>

<p> <span class="preamble">
</span><span class="preamble"><strong>謝辞</strong> </span><br /><span class="preamble">
</span><span class="preamble"> </span></p>

<p><em>Ruby on Rails チュートリアル</em>は、私の以前の著書「<em>RailsSpace</em>」と、その時の共著者の <a href="http://www.google.com/url?q=http%3A%2F%2Faure.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG6uFJPPaAzoT46XWJXUrPBknDjWQ">Aurelius Prochazka</a> から多くのことを参考にさせてもらっています。Aure には、RailsSpace での協力と本書への支援も含め、感謝したいと思います。また、<em>RailsSpace</em> と <em>Rails チュートリアル</em>の両方の編集を担当して頂いた Debra Williams Cauley 氏にも謝意を表したく思います。彼女が野球の試合に連れて行ってくれる限り、私は本を書き続けるでしょう。</p>

<p>私にインスピレーションと知識を与えてくれた Rubyist の方々にも感謝したいと思います: David Heinemeier Hansson、 Yehuda Katz、 Carl Lerche、 Jeremy Kemper、 Xavier Noria、 Ryan Bates、 Geoffrey Grosenbach、 Peter Cooper、 Matt Aimonetti、 Gregg Pollack、 Wayne E. Seguin、 Amy Hoy、 Dave Chelimsky、 Pat Maddox、 Tom Preston-Werner、 Chris Wanstrath、 Chad Fowler、 Josh Susser、 Obie Fernandez、 Ian McFarland、 Steven Bristol、 Pratik Naik、 Sarah Mei、 Sarah Allen、 Wolfram Arnold、 Alex Chaffee、 Giles Bowkett、 Evan Dorn、 Long Nguyen、 James Lindenbaum、 Adam Wiggins、 Tikhon Bernstam、 Ron Evans、 Wyatt Greene、 Miles Forrest、 Pivotal Labs の方々、 Heroku の方々、 thoughtbot の方々、 そして GitHub の方々、ありがとうございました。最後に、ここに書ききれないほど多くの読者からバグ報告や提案を頂きました。彼ら／彼女らのおかげで、本書を可能な限り良い本に仕上げることが出来ました。<br /></p>

<p> <span class="preamble">
</span><span class="preamble"> <span id="author">
</span></span><span class="preamble"><span id="author"><strong>著者</strong> </span></span><br /><span class="preamble"><span id="author">
</span></span><span class="preamble"><span id="author"> </span>
</span><span class="preamble"> </span></p>

<p><a href="http://www.google.com/url?q=http%3A%2F%2Fmichaelhartl.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGI5VdEjgfJcByrBsCqZiJNylVFrQ">マイケルハートル (Michael Hartl)</a> は、「<a href="http://www.google.com/url?q=http%3A%2F%2Fruby.railstutorial.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNH28bVaJ3FMHnR8znOGrS5nlG7BIw"><em>Ruby on Rails チュートリアル</em></a>」という、<a href="http://www.google.com/url?q=http%3A%2F%2Frubyonrails.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNF7Cc02U9OAo_hiAxFGoYPao3MLyQ">Ruby on Rails</a> を使って初めて Web アプリケーションを開発する際に、最もよく参考にされる本の著者です。以前は、(今ではすっかり古くなってしまいましたが)「<em>RailsSpace</em>」という本の執筆および開発に携わったり、また、 一時人気を博した Ruby on Rails ベースのソーシャルネットワーキングプラットフォーム「Insoshi」の開発にも携わっていました。なお、2011年には、Rails コミュニティへの高い貢献が認められて、<a href="http://www.google.com/url?q=http%3A%2F%2Frubyheroes.com%2Fheroes&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEq38OaCbSL8QrAfmqeG00VJrKaEw">Ruby Hero Award</a> を受賞しました。<a href="http://www.google.com/url?q=http%3A%2F%2Fcollege.harvard.edu%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFiAfty1jVncu8qECvf_rR2cXEFPA">ハーバード大学</a>卒業後、<a href="http://www.google.com/url?q=http%3A%2F%2Fresolver.caltech.edu%2FCaltechETD%3Aetd-05222003-161626&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGZ_y7gKzJfnwbiJ-OrLvwAL90T6Q">カリフォルニア工科大学</a>で<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.caltech.edu%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNE5rimyQKAwD0-Vsc2ISIPkIg-Zow">物理学博士号</a>を取得し、起業プログラム <a href="http://www.google.com/url?q=http%3A%2F%2Fycombinator.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFhU_Nnai1luZLV0ZRYEp_mKjldNg">Y Combinator</a> の卒業生でもあります。<br /></p>

<p> <span id="license" class="preamble">
</span><span id="license" class="preamble"><strong>著作権とライセンス</strong> </span><br /><span id="license" class="preamble">
</span><span id="license" class="preamble"> </span></p>

<p><em>Ruby on Rails チュートリアル: 実例を使って Rails を学ぼう</em>. Copyright © 2010 by Michael Hartl.<em>Ruby on Rails チュートリアル</em>内の全てのソースコードは、<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.opensource.org%2Flicenses%2Fmit-license.php&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEterv0_PJHmaewQCXHgiQA1762eg">MIT ライセンス</a>および <a href="http://www.google.com/url?q=http%3A%2F%2Fpeople.freebsd.org%2F~phk%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFA8RYBKGxDr_mA6dnaeEGHcbZIgg">Beerware ライセンス</a>の元で提供されています。</p>

<div class="code"><div class="highlight"><pre>(The MIT License)

Copyright (c) 2012 Michael Hartl

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the &quot;Software&quot;), to deal in the Software without restriction,
including without limitation the rights to use, copy, modify, merge,
publish, distribute, sublicense, and/or sell copies of the Software,
and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF
ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR
A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR
ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING OUT OF
OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.</pre></div>
</div>


<div class="code"><div class="highlight"><pre>/*
 * ----------------------------------------------------------------------------
 * &quot;THE BEER-WARE LICENSE&quot; (Revision 42):
 * Michael Hartl wrote this code.As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
 */
</pre></div>
</div>


