    <div id="header" class="clearfix"><div id='title'>
  <div id='logo'><a href="http://ruby.railstutorial.org/"><img alt="Logo" src="/images/layout/logo.png?1304201481" /></a></div>
  <h1 id='name'>
    <a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a>

  </h1>
  <br />
  <h2 id='authors'>
    <a href="http://ruby.railstutorial.org/#author">by Michael Hartl</a>
  </h2>
</div>
</div>
    <div id="menu"><div class='links'>
  <div class='box'>

    <span>
      <a href="http://ruby.railstutorial.org/">Home</a>
    </span>
    <span class='division'>
      |
    </span>
    <span>
      Book
    </span>

    <span class='division'>
      |
    </span>
    <span>
      <a href="/help">Help</a>
    </span>
    <span class='division'>
      |
    </span>

    <span>
      <a href="/contact">Contact</a>
    </span>
    <span class='division'>
      |
    </span>
    <span>
      <a href="http://news.railstutorial.org/">News</a>

    </span>
    <span class='img'>
      <a href="http://feeds.feedburner.com/railstutorial"><img alt="Feed-icon16x16" class="feed" src="/images/icons/feed-icon16x16.png?1304201481" /></a>
    </span>
    <span class='division'>
      |
    </span>
    <span>
      <a href="http://twitter.com/railstutorial">Follow</a>
    </span>
    <span>
      <a href="http://twitter.com/railstutorial"><img alt="Twitter-small" src="/images/icons/twitter-small.png?1304201481" /></a>

    </span>
  </div>
</div>
