<div id='sidebar'>
  <div class='content'>
    <!-- = link_to image_tag("icons/feed-icon32x32.png"), feed_url -->
    <!-- = link_to image_tag("icons/twitter.png"), twitter_url -->
    <!-- = link_to image_tag("icons/mail-icons/mail-icon-32x32.png"), email_url -->
    <div id='navtool'>

      <table class='layout'>
        <tr>
          <td colspan='2'><a href="#book_menu"><img alt="Up A Level" src="/images/buttons/sb_button_up.png?1304201480" /></a></td>
        </tr>
        <tr>
          <td><img alt="Previous Chapter" src="/images/buttons/sb_button_prev.png?1304201480" /></td>
          <td><a href="a-demo-app#top"><img alt="Next Chapter" src="/images/buttons/sb_button_next.png?1304201480" /></a></td>
        </tr>
      </table>

      <a href="http://amzn.to/RTbook"><img alt="Buy Print Edition" src="/images/buttons/sb_button_buy_print_edition_red.png?1304201480" /></a>
      <br />
      <a href="http://railstutorial.org/#buy"><img alt="Buy Screencasts" src="/images/buttons/sb_button_buy_screencasts_red.png?1304201480" /></a>
      <div class='connect'>
        <table class='center'>
          <tr>
            <td><a href="http://feeds.feedburner.com/railstutorial"><img alt="Feed-icon24x24" src="/images/icons/feed-icon24x24.png?1304201481" title="Get news updates via RSS" /></a></td>
            <td><a href="http://feedburner.google.com/fb/a/mailverify?uri=railstutorial&amp;loc=en_US"><img alt="Mail-icon-24x24" src="/images/icons/mail-icons/mail-icon-24x24.png?1304201481" title="Get news updates by email" /></a></td>
            <td><a href="http://www.facebook.com/pages/Ruby-on-Rails-Tutorial/197151265072"><img alt="Facebook-icon24x24" src="/images/icons/facebook-icon24x24.png?1304201481" title="Become a fan on Facebook" /></a></td>

            <td><a href="http://twitter.com/railstutorial"><img alt="Twitter-icon24x24" src="/images/icons/twitter-icon24x24.png?1304201481" title="Follow on Twitter" /></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
