<!DOCTYPE html>
<html lang='ja' xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Ruby on Rails チュートリアル：実例を使ってRailsを学ぼう - Michael Hartl (マイケル・ハートル)</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="Ruby on Rails チュートリアル：実例を使ってRailsを学ぼう - Michael Hartl (マイケル・ハートル)" />
    <meta name="keywords"    content="Learn Ruby Rails チュートリアル ウェブ Rails開発" />
    <meta name="author"      content="Michael Hartl (マイケル・ハートル)" />

    <meta property="fb:admins"      content="715330868" />
    <meta property="og:title"       content="Ruby on Rails チュートリアル"/>
    <meta property="og:site_name"   content="Ruby on Rails チュートリアル"/>
    <meta property="og:image"       content="http://railstutorial.jp/images/layout/logo.png"/>
    <meta property="og:url"         content="http://railstutorial.jp/">
    <meta property="og:type"        content="article" />
    <meta property="og:description" content="実例を使ってRailsを学ぼう (3.2/4.0 対応) - Michael Hartl (マイケル・ハートル) " />
    
    <link href="/stylesheets/polytexnic.css?1304201481" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/pygments.css?1304201481" media="screen" rel="stylesheet" type="text/css" />

    <% if mobile_device? %>
      <link href="/stylesheets/screen_mobile.css?1304201481" media="screen, projection" rel="stylesheet" type="text/css" />
    <% else %>
      <link href="/stylesheets/screen.css?1304201481" media="screen, projection" rel="stylesheet" type="text/css" />
    <% end %>
    
    <link href="/stylesheets/print.css?1304201481" media="print" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]><link href="/stylesheets/ie.css?1304201481" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 7]>  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>      </div>      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>    </div>  </div>  <![endif]-->
    <link href='http://feeds.feedburner.com/railstutorial' rel='alternate' title='Rails Tutorial News' type='application/rss+xml' />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42117937-1', 'railstutorial.jp');
      ga('send', 'pageview');
    </script>

  </head>
  
  <body class="book"> 
    <div id="container">
      <%= render 'layouts/header' %>      

      <div id="content">
	<%= render 'layouts/sidebar' %>      
	
        <div id="main" class="withsidebar">
	  <div id="book_menu">
	    <a href="#main_content">コンテンツまでスキップする</a>
	  </div>

	  <%= yield %>

	  <div id="container-bottom"></div>
	</div>
      </div>
    </div>    
  </body>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144878509039953";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>

